
/*section.sectionHid {
     opacity: 0;
 }
.bg-page4 {
    background-color: #243367;
}*/
section {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
}
section .circle-page4 {
    width: 369px;
    height: 369px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px dotted #1a2449;
    position: absolute;
    left: 131px;
    top: 30%;
    box-shadow: 0px 0px 0px 115px #202d5b,0px 0px 0px 116px #1e2953,0px 0px 0px 195px #223061,0px 0px 0px 196px #1e2b57,0px 0px 0px 255px #233265, 0px 0px 0px 256px #212f60;
    border-radius: 50%;
    opacity: 0;
}
section .page4 {
    width: 369px;
    height: 369px;
    background: url(../image/starotund.png) no-repeat;
    position: absolute;
    top: 30%;
    left: 131px;
    opacity: 0;
}
section .page4 .smork4 {
    width: 114px;
    height: 154px;
    background: url(../image/smork4.png) no-repeat;
    position: absolute;
    background-size: cover;
    top: 149px;
    left: 123px;
}
section .page4 .rocket4 {
    width: 132px;
    height: 343px;
    background: url(../image/rocket3.png) no-repeat;
    position: absolute;
    background-size: cover;
    top: -88px;
    left: 120px;
}
section .page4 .btn {
    width: 235px;
    height: 66px;
    background: #fd5a71;
    border: 2px solid #393e51;
    position: absolute;
    top: 242px;
    left: 66px;
    color: #FFF;
    font-size: 30px;
    border-radius: 15px;
    font-family: '微软雅黑';
    text-align: center;
    text-decoration: none;
    line-height: 66px;
}
