@charset "utf-8";
body,div,section{margin: 0px;padding: 0px;}
body{font-family: '微软雅黑';}
.shake{animation:shake 1s;-webkit-animation:shake 1s; animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;}
section{width:100%;height:100%;position: absolute;}
.bgColor{background:#2d4081;}
.Bg-page1{width:429px;height:429px;border:1px solid #1f2b57;  background-color:#233264;position:absolute;
    top:50%;left: 50%;margin:-214px 0px 0px -214px;border-radius:50%;box-shadow:0px 0px 0px 113px #183972,
0px 0px 0px 114px #223161,0px 0px 0px 193px #2a3d79,0px 0px 0px 194px #273971, 0px 0px 0px 254px #2c3f7e,
0px 0px 0px 255px #2a3c79;}
.bg-start{width:100%;height:100%;background: url(../image/bg-start.png) no-repeat;background-size:cover;
    position:absolute; }

.bg-game{width:100%;height:100%;background: url(../image/bg-game.png) no-repeat;background-size:cover;
    position:absolute; }
.main_page1{width:429px;height:429px;margin:-214px 0px 0px -214px;position:absolute;top:50%;left:50%;}
.main_page1 .rocket{width:166px; height:194px;position:absolute;top:-29px;left:48px;background:url(../image/rocket.png)
no-repeat;opacity:0;}
.main_page1 .thanks{width:390px;height:224px;position:absolute;top:43px;left:38px;background:url(../image/thanks.png)
no-repeat;opacity:0;}
.main_page1 .widthyou{width:359px;height:128px;position:absolute;top:208px;left:38px;background:url(../image/widthyou.png)
no-repeat;opacity:0;}

.arrow{width:91px;height:65px;position:absolute;left:50%;margin-left:-45px;bottom:40px;background:url(../image/arrow.png)
no-repeat;animation:arrow 1s;-webkit-animation:arrow 1s;animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite;}

/*动画入场*/
section.sectionIn .main_page1 .rocket{animation:rocket 1s;-webkit-animation:rocket 1s;opacity:1;}
section.sectionIn .main_page1 .thanks{animation:thanks 1s;-webkit-animation:thanks 1s;animation-delay:0.5s;-webkit-animation-delay:0.5s;
    animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;}
section.sectionIn .main_page1 .widthyou{animation:thanks 1s;-webkit-animation:thanks 1s;animation-delay:0.6s;-webkit-animation-delay:0.6s;
    animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;}

/*动画出场*/
section.sectionOut .Bg-page1{animation:circleOut 1s;-webkit-animation:circleOut 1s;
    animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;}
section.sectionOut .bg-start{animation:startOut 1s;-webkit-animation:startOut 1s;
    animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;}
section.sectionOut .main_page1 .rocket{animation:rocketOut 1s;-webkit-animation:rocketOut 1s;opacity:1;
    animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;}
section.sectionOut .main_page1 .thanks{animation:thanksOut 1s;-webkit-animation:thanksOut 1s;opacity:1;animation-delay:0.2s;-webkit-animation-delay:0.2s;
    animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;}
section.sectionOut .main_page1 .widthyou{animation:widthyouOut 1s;-webkit-animation:widthyouOut 1s;opacity:1;animation-delay:0.3s;-webkit-animation-delay:0.3s;
    animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;}

.music{width:51px;height:48px;position:absolute;bottom:10px;right:0px;}
.musicRun{background:url(../image/run.png) no-repeat;animation:run 3s;-webkit-animation:run 3s;animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite;
    animation-timing-function:linear;-webkit-animation-timing-function:linear;}
.musicStop{background:url(../image/stop.png) no-repeat;}

.typeBar{width:100%;height:73px;background-color:rgba(0,0,0,0.4);position: absolute;bottom:0px;z-index:9; }
.typeBar .score{width: 263px;height: 100%;float: left;background: url(../image/monster4.png) 23px 18px no-repeat;background-size:59px 51px;text-indent:82px;line-height: 73px;font-size: 30px;color:#55b9f8; }
.typeBar .time{width: 180px;height:100%;float:left;background: url(../image/time.png) 0px 16px no-repeat;text-indent: 56px;font-size:30px;color: #ffe400;line-height:73px; }



/*
.jind{width:436px;height:28px;border:1px solid #4091dc;border-radius:14px;position:absolute;bottom:119px;left:50%;margin-left:-231px;overflow:hidden;}
.jind span{width:0;height:28px;display:block;background-color:#4091dc;}*/
